body,html,.homepage-hero-area-4,.single-slide-item,.slide-item-wrapper{
    height: 100%;
}

body{
    font-weight: 300;
    line-height: 1.7;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: 700;
    color: #373737;
  }
.homepage-hero-area-4{
    background-image: url(../img/psd-4/header-bg.jpg);
    background-size: cover;
}
.slide-item-wrapper h2 {
	font-size: 43px;
	color: #fff;
	font-weight: 700;
	line-height: 55px;
}
.slide-item-wrapper {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 100%;
    color: #fff;
    font-weight: 300;
    font-size: 15px;
}
.slide-item-wrapper p{
    padding: 50px;
}
.menu-trigger,.search-triggar{
	color: #fff;
	font-size: 18px;
    padding: 10px 0 5px;
    display: inline-block;
    cursor: pointer;
}
.slide-item-wrapper input{
    background-color: #073b4c;
    border-color: #073b4c;
    color: #fff;
}
.website-check-from input [type="submit"]{
    margin-right: 0;
    width: 15%;
}
.website-check-from input{
    width: 24%;
}
.website-check-from input[type="submit"],
.website-check-from button[type="submit"]{
    background-color: #24d5a1;
}
.homepage-hero-area-4::after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: '';
    background: #073b4c;
    z-index: -1;
    opacity: 0.25;
}
.boxed-btn, input[type="submit"], button[type="submit"]{
    border-radius: 0;
}
.off-canvas-menu {
	position: fixed;
	left: -300px;
	top: 0;
	z-index: 99;
	background: #0b3b4b;
	width: 420px;
	height: 100%;
    padding: 100px;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}
.off-canvas-menu.show-off-canvas-menu{
    left: 0;
    opacity: 1;
    visibility: visible;
}
.menu-close {
	position: absolute;
	right: 0;
	color: #fff;
	padding: 20px;
	top: 0;
	cursor: pointer;
}
.off-canvas-menu a {
    color: #fff;
}
.off-canvas-menu ul{
    list-style: none;
    font-size: 120%;
    margin: 0;
    padding: 0;
    line-height: 2.5;
}
.menu-logo{
    text-transform: uppercase;
    border: 1px solid #999;
    padding: 10px 10px 2px;
    font-weight: 700;
    margin-top: 40px;
    margin-bottom: 40px;
    display: inline-block;
}

.off-canvas-menu a:hover{
    opacity: .5;
}
.off-canvas-menu-shade {
	position: fixed;
	height: 100%;
	width: 100%;
	background: #0b3b4b;
	opacity: .0;visibility: hidden;transition: .3s;
	z-index: 98;
}
.off-canvas-menu-shade.active{
    opacity: .7;
    visibility: visible;
}
.service-section {
    background-image: url(../img/psd-4/gellary-bg-1.jpg);
    background-position: right;
    background-repeat: no-repeat;
    margin-right: 200px;
    width: 100%;
}
.tile-gellary {
    position: relative;
    padding-right: 20px;
}
.tile-gellary img {
    box-shadow: 0 5px 5px #d1d1d1;
    border-radius: 5px;
}
.absolute-gellary-img-1 {
	position: absolute;
	left: 0;
	top: 80px;
}
.padding-top-50 {
	padding-top: 80px;
}
.inline-btn {
	color: #24d5a1;
	display: inline-block;
    padding-top: 15px;
    font-size: 15px;
	font-weight: 600;
}
.padding-top-50 i {
	font-size: 15px;
	font-weight: 600;
	margin-left: 3px;
}
a:hover{
    color: #24d5a1;
}
.section-icon {
	color: #24d5a1;
	font-size: 30px;
	margin-bottom: 20px;
}
.service-section {
	position: relative;
	z-index: 1;
}
.section-padding.service-section {
	position: relative;
	z-index: 1;
}
.service-section::after {
	position: absolute;
	left: 0;
	top: 0;
	width: 50%;
	height: 100%;
	content: '';
	background: #fdfdfd;
	z-index: -1;
	box-shadow: 0 0 7px #f4f4f4;
}
.service-box-2 {
	min-height: 200px;
}
.cta-area.theme-4{
    background-image: url(../img/psd-4/cta-bg-4.jpg);
    height: 400px;
    background-size: cover;
}
.cta-area.theme-5{
    background-image: url(../img/psd-4/cta-bg-5.jpg);
    background-size: cover;
}
.cta-area.theme-4::after,.cta-area.theme-5::after {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	content: '';
	background-color: #333;
	opacity: .2;
	z-index: -1;
}
.cta-area.theme-5::after{
    background-color: #073b4c;
    opacity: .6;
}
.cta-area.theme-4 h2 {
	color: #fff;
    font-size: 36px;
    margin-top: 50px;
    
}
.shadow-img {
	box-shadow: 0 0 12px #f5f5f5;
}
.padding-30 {
	padding: 30px;
}
.single-feature-item {
	margin-top: 50px;
	position: relative;
	padding-left: 70px;
}
.fature-icon {
	position: absolute;
	left: 0;
	top: 0;
	color: #24d5a1;
	font-size: 40px;
	line-height: 40px;
}
.single-feature-item h4 {
	font-size: 18px;
}
.single-feature-item p {
	font-size: 12px;
}
.padding-30 h3 {
	font-size: 26px;
}
.video-play-btn {
	background: #06d6a0;
	height: 60px;
	width: 60px;
	display: inline-block;
	text-align: center;
	line-height: 62px;
	color: #fff;
	border-radius: 50%;
	margin-bottom: 40px;
}
.testimonial-contect {
	padding: 30px;
	position: relative;
	z-index: 1;
}
.testimonial-contect p:last-child{
    margin-bottom: 0;
}
.quote-icon {
	margin-bottom: 20px;
	font-size: 120%;
}
.testimonial-contect::after {
	position: absolute;
	left: 30px;
	bottom: -15px;
	width: 30px;
	height: 30px;
	background: #06d6a0;
	content: '';
    transform: rotate(45deg);
    display: none;
}
.testimonial-bottom {
	margin-top: 80px;
	margin-left: 20px;
	opacity: 0;
	visibility: hidden;
}
.testimonial-bottom p {
    display: inline-block;
    color: #999;
    font-weight: 500;
    margin-right: 10px;
}
.testimonial-bottom p strong {
	color: #333;
}
.testimonial-bottom img {
    border-radius: 35%;
    margin-top: -24px;
    margin-right: 20px;
    width: 50px;
}
.btn h2 {
	font-size: 36px;
	font-weight: 700;
    color: #fff;
}
.theme-5 p {
	color: #fff;
	font-size: 16px;
	margin-top: 25px;
}
.boxed-btn{
    margin-top: 10px;
    background-color: #06d6a0;
    color: #fff;
    border-radius: 5px;
}
.footer-are.theme-4 {
	background-color: #073b4c;
	padding: 130px 0px;
}
.footer-are.theme-4 h4 {
	color: #fff;
    font-size: 20px;
    font-weight: normal;
}
.footer-are ul {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: 2;
}
.social-icon i {
	margin-right: 10px;
}
.copyright-area-2 {
	background-color: #0f2e38;
}
.copyright-area-2 {
	border-top: none;
}
.active.testimonial-contect {
	background-color: #06d6a0;
}
.active.testimonial-contect {
	background-color: #06d6a0;
	color: #fff;
}
.active.testimonial-contect::after {
	display: block;
}
.active.testimonial-contect:hover {
    background-color: #06d6a0;
	color: #fff;
	
}