html,body{
    height: 100%;
}
body{
    line-height: 1.7;
}
.slide-bg-1 {
    background-image: linear-gradient(rgba(15, 216, 225, 0.91),rgba(15, 216, 255, 0.9)), url(img/slide-bg-1.jpg);
    background-size: cover;
}
.header-area.header-absolute {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9;
    width: 100%;
}
.header-area.header-absolute li a {
    color: #fff;
}
.single-slide-item{
height: 100%;
display: table;
width: 100%;
position: relative;
z-index: 1;
}
.slide-item-wrapper {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color:#fff;
    font-weight: 300;
    line-height: 1.8;
}
.slide-item-wrapper h2 {
    font-size: 65px;
    color: #fff;
    line-height: 75px;
}
.video-play-btn{
    height: 60px;
    width: 60px;
    display: inline-block;
    background: #24d5a1;
    color: #fff;
    line-height: 63px;
    border-radius: 50%;
    padding-left: 4px;
    margin-top: 15px;
}
.blog-thumb-wrapper{
    background-image: url(../img/blog-1.jpg);
}
.cta-area.theme-3 {background-image: url(../img/bg-2.jpg);background-size: cover;background-position: top;}
.boxed-btn, input[type="submit"], button[type="submit"]{
    background-color: #24d5a1;
}

.website-check-from {
    margin-top: -30px;
}
.section-padding.padding-top-0 {
    padding-top: 0;
}
.pd-50 {
	margin-left: 100px;
	padding-top: 60px;
}
.pd-50 .boxed-btn {
    margin-top: 20px;
    border-radius: 0;
}
.single-services-box:hover {
    border-color: #24d5a1;
}
.single-services-box:hover a.service-redmore-btn, .single-services-box:hover h3, .single-services-box:hover .service-icon .service-number {
    color: #24d5a1;
}
.service-number {
	color: #dcdcdc;
	font-size: 70px;
    font-weight: 400;
    line-height: 70px;
    display: inline-block;
    padding-top: 16px;
}
.single-services-box {
	margin-bottom: 0;
}
.single-case-study.theme-2{
    background-image: url(../img/produck1.jpg);
    background-size: cover;
}
.case-study-wrapper {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    padding: 30px;
    text-align: center;
    background: #10d7a3;
    color: #fff;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}
.theme-2 .case-study-more {
    background: none;
    color: #fff;
    font-size: 25px;
}
.single-blog-box {
	display: block;
    color: #999;
    font-weight: 300;
    box-shadow: 10px 10px 5px #aaaaaa;
}
.single-blog-box:hover {
	color: #999;
}
.single-blog-box h4{
    line-height: 1.6;
    color: #373737;
}
.blog-meta {
	font-size: 14px;
}
.single-blog-box p:last-child {
	margin: 0;
}
.blog-thumb-wrapper {
	height: 250px;
	background-size: cover;
	background-position: center;
	margin-bottom: 20px;
	background-color: #ddd;
}
.single-blog-box:hover {
	color: #999;
	opacity: .9;
}
.cta-area.theme-3.text-center {
	position: relative;
	z-index: 1;
	padding: 100px;
}
.cta-area.theme-3 {
	color: #fff;
}
.cta-area.theme-3 h2 {
    color: #fff;
    font-size: 45px;
    font-weight: 300;
    margin-bottom: 28px;
}

.boxed-btn {
    background-color: #fff;
    color: #373737;
    border-radius: 0;
    margin-top: 60px;
}
.boxed-btn:hover{
    color: #373737;
}
.footer-area-2 a {
	color: #999;
}
.footer-area-2 ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.footer-area-2 ul li {
	display: inline-block;
}
.footer-area-2 ul li a {
	display: block;
	padding: 12px;
}
.social-links {
    text-align: right;
}
.social-links a{
    color: #373737;
    padding: 12px;
    display: inline-block;
    padding-right: 0;
    padding-left: 20px;
}
.copyright-area-2{
    border-top: 1px solid #f7f7f7;
    font-weight: 300;
    padding: 20px 0;
}
.copyright-area-2 ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.copyright-area-2 li {
	display: inline-block;
	padding: 10px;
}
.copyright-area-2 li a{
    color: #999;
    font-weight: 400;
    display: inline-block;
	padding-right: 0px;
	padding-left: 20px;
}
.copyright-area-2 a:hover, .footer-area-2 a:hover {
	color: #24d5a1;
}
.footer-area-2 {
	padding: 40px 0;
}
.copyright-area-2 ul {
	margin-top: -8px;
}
