.hero-area {background-image: url(img/hero_bg_2.png);background-color: #359af3;
}
.boxed-btn{
    background-color: #24d5a1;
}
.hero-area {
    color: #fff;
    background-size: cover;
    background-position: center;
    line-height: 1.8;
}
.hero-area h1{
    color: #fff;
    font-size: 45px;
  }
  .hero-form{
    background: #fff;
    padding: 30px;
    color: #333;
    border-radius: 5px;
    position: relative;
    z-index: 1;
  }
  .hero-form-header{
      font-size: 14px;
      margin-bottom: 30px;
  }