/* Base CSS */
@import url('https://fonts.googleapis.com/css2?family=Khula:wght@300;400;600;700;800&display=swap');

.alignleft{
  float: left;
  margin-right: 15px;
}

.alignleft{
  float: right;
  margin-left: 15px;
}
.aligncenter{
  display: block;
  margin: 0 auto 15px;
}

a:focus,  input:focus, textarea:focus, button:focus{outline: 0 solid}
img{
  max-width: 100%;
  height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6
{
  margin: 0 0 15px;
  font-weight: 400;
  color: #373737;
}

body{
  font-family: 'Khula', sans-serif;font-size: 15px;color: #999;
}
a:hover{text-decoration: none;color: #fff;}

.mainmenu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.mainmenu li {

  position: relative;
  display: inline-block;
}
.mainmenu li a {
  display: block;
  color: #888;
  padding: 12px 15px;

}
.boxed-btn,input[type=submit],button[type=submit]{
  display: inline-block;
  background: #ec4a71;
  color: #fff;
  font-size: 14px;
  padding: 13px 25px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.header-area h1 {
  font-size: 40px;
  max-width: 400px;
  margin-bottom: 20px;
  padding-top: 25px;
}

.header-area {
  padding: 20px 0;
}
input[type=email],input[type=tel], input[type=text],input[type=password],input[type=url], textarea{
  border: 1px solid #f0f0f0;
  padding: 10px 15px;
}
input[type=submit],button[type=submit]{
  padding: 11px 25px;
  font-weight: 400;
}
.hero-area{
  font-weight: 300;
  padding: 150px 0;
  border-bottom: 1px solid #f7f7f7;
}
.boxed-btn a:hover {
    color: #fff;
    text-decoration: underline; 

  } 
.section-padding {
    padding: 120px 0;
    overflow: hidden;
}
.section-title{
  margin-bottom: 90px;
}
.single-services-box {
  border: 1px solid #fafafa;
  padding: 25px;
  font-weight: 300;
  line-height: 1.6;
  margin-bottom: 50px;
}
.service-icon {
  font-size: 30px;
  color: #353132;
}
.single-services-box h3{
  font-size: 20px;
  margin: 15px 0;
}
.service-redmore-btn {
  color: #373737;
  font-weight: 400;
  display: inline-block;
  margin-top: 10px;
}
.service-redmore-btn i.zmdi{
  padding-left: 5px;
}
.single-services-box:hover{
  border-color: #ef476f;
}
.single-services-box:hover a.service-redmore-btn,.single-services-box:hover h3,.single-services-box:hover .service-icon{
color: #ec4a71;
} 
.pdt-50{
  padding-top: 50px;
}
h2{
  font-size: 28px;
  line-height: 35px;
}
.pdt-50 .boxed-btn{
padding-top: 15px;
}
.section-padding.gray-bg {
  background-color: #fbfbfb;
}
.single-case-study {
  display: table;
  width: 100%;
  background: #dddd;
  height: 320px;
  position: relative;
}
.case-study-wrapper{
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  padding: 30px;
  text-align: center;
  background: #ec4a71;
  color: #fff;
  opacity: 0;
  visibility: hidden;
  transition: .3s;

}
.case-study-wrapper h3,h4{
  color: #fff;
}
.case-study-more{
  display: inline-block;
  height: 40px;
  width: 40px;
  background: #fff;
  color: #333;
line-height: 44px;
border-radius: 50%;
margin-top: 10px;
}
.single-case-study:hover .case-study-wrapper{
  opacity: 1;
  visibility: visible;
}
.section-padding .owl-carousel .owl-stage-outer{
  overflow: inherit;
}
.section-padding .overflow-hidden{
  overflow: hidden;
}
.owl-dots div{
  height: 3px;
  width: 20px;
  background: #e2e2e2;
  display: inline-block;
  margin: 2px;
}
.cta-area{
  background: #f8f8f8;
  padding: 60px 0;
}
.single-pricing-box {
  border: 1px solid #f8f8f8;
  padding: 30px;
  text-align: center;
  margin-bottom: 75px;
  transition: .2s;
}
.single-pricing-box:hover{
  border-color: #ec4a71;
}
.pricing-content {
  font-size: 17px;
  line-height: 2.3; 
}
.pricing-heading {
  border-bottom: 1px solid #f8f8f8;
  color: #999999;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 30px;
  padding-bottom: 15px;
  transition: .2s;
}
.pricing-heading h4{
  color: #373737;
  font-size: 20px;
}
.pricing-count {
  color: #ec4a71;
  font-size: 50px;
  font-weight: 400;
  line-height: 60px;
  margin: 0px;
}
.pricing-content ul{
  margin: 0 0 30px;
  padding: 0;
  list-style: none;
}  
.pricing-content .boxed-btn{
  line-height: 1.4;
}
.single-pricing-box:hover .pricing-heading{
  border-color: #ec4a71;
}
.footer-are {
  background: #fdfdfd;
  padding: 70px 0;
}
.footer-are h4{
  font-size: 20px;
  color: #000000;
}
.footer-are,.footer-are a {
  color: #999999;
} 
.footer-are ul{
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 2;
}
.email-subcribe-form input[type="submit"] {
  width: 30%;
  padding: 11px;
  border-radius: 0;
}
.email-subcribe-form input[type="email"] {
  width: 67%;
  border-color: #f6f6f6;
  background-color: #f6f6f6;
  margin-right: -4px;
}
.email-subcribe-form{
  margin-bottom: 35px;
}
.social-links li{
  display: inline-block;
  width: 30%;
} 
.copyright-area{
  background: #f7f7f7;
  padding: 10px 0;
}
.hero-area h1{
  color: #fff;
  font-size: 45px;
}