html,body{
    height: 100%;
}
.slide-bg-1 {
    background-image: linear-gradient(rgba(15, 216, 225, 0.91),rgba(15, 216, 255, 0.9)), url(img/slide-bg-1.jpg);
    background-size: cover;
}
.header-area.header-absolute {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9;
    width: 100%;
}
.header-area.header-absolute li a {
    color: #fff;
}
.single-slide-item{
height: 100%;
display: table;
width: 100%;
position: relative;
z-index: 1;
}
.slide-item-wrapper {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color:#fff;
    font-weight: 300;
    line-height: 1.8;
}
.slide-item-wrapper h2 {
    font-size: 65px;
    color: #fff;
    line-height: 75px;
}
.video-play-btn{
    height: 60px;
    width: 60px;
    display: inline-block;
    background: #24d5a1;
    color: #fff;
    line-height: 63px;
    border-radius: 50%;
    padding-left: 4px;
    margin-top: 15px;
}
.blog-thumb-wrapper{
    background-image: url(../img/blog-1.jpg);
}
.cta-area.theme-3 {background-image: url(../img/bg-2.jpg);}
.boxed-btn, input[type="submit"], button[type="submit"]{
    background-color: #24d5a1;
}


.website-check-from input [type="submit"]{
    margin-right: 0;
    width: 15%;
}
.website-check-from input{
    width: 24%;
}
.website-check-from {
    margin-top: -30px;
}
.section-padding.padding-top-0 {
    padding-top: 0;
}
.pd-50 {
	margin-left: 100px;
	padding-top: 60px;
}
.pd-50 .boxed-btn {
    margin-top: 20px;
    border-radius: 0;
}
.single-services-box:hover {
    border-color: #24d5a1;
}
.single-services-box:hover a.service-redmore-btn, .single-services-box:hover h3, .single-services-box:hover .service-icon .service-number {
    color: #24d5a1;
}
.service-number {
	color: #dcdcdc;
	font-size: 70px;
    font-weight: 400;
    line-height: 70px;
    display: inline-block;
    padding-top: 16px;
}
.single-services-box {
	margin-bottom: 0;
}

