html,body{
    height: 100%;
}
.slide-bg-1 {
    background-image: linear-gradient(rgba(15, 216, 225, 0.91),rgba(15, 216, 255, 0.9)), url(img/slide-bg-1.jpg);
    background-size: cover;
}
.header-area.header-absolute {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9;
    width: 100%;
}
.header-area.header-absolute li a {
    color: #fff;
}
.single-slide-item{
height: 100%;
display: table;
width: 100%;
position: relative;
z-index: 1;
}
.slide-item-wrapper {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color:#fff;
    font-weight: 300;
    line-height: 1.8;
}
.slide-item-wrapper h2 {
    font-size: 65px;
    color: #fff;
    line-height: 75px;
}
.video-play-btn{
    height: 60px;
    width: 60px;
    display: inline-block;
    background: #24d5a1;
    color: #fff;
    line-height: 63px;
    border-radius: 50%;
    padding-left: 4px;
    margin-top: 15px;
}